# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
*.so
*.lib
*.dll

# === Environment ===
.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

# === Database ===
*.sqlite
*.sqlite3
*.db
*.dump

# === IDE ===
# PyCharm
.idea/
*.iml
*.ipr
*.iws

# === OS ===
.DS_Store
Thumbs.db
desktop.ini

# === Logs ===
*.log
logs/

# === Media ===
media/

# === Alembic alembic (исключаем всё, кроме самих миграций) ===
alembic/
!alembic/versions/
!alembic/env.py
!alembic/script.py.mako
