# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
*.so
*.lib
*.dll

# === Environment ===
.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

# === Database ===
*.sqlite
*.sqlite3
*.db
*.dump

# === Docker ===
docker-compose.override.yml
data/  # Для volume PostgreSQL (если используется локально)

# === IDE ===
# PyCharm
.idea/
*.iml
*.ipr
*.iws

# === OS ===
.DS_Store
Thumbs.db
desktop.ini

# === Logs ===
*.log
logs/

## === Alembic alembic (исключаем всё, кроме самих миграций) ===
#alembic/
#!alembic/versions/
#!alembic/env.py
#!alembic/script.py.mako

# === Static files ===
app/static/media/*  # Исключаем загруженные файлы (храним только в production)
!app/static/media/.gitkeep  # Пустой файл для сохранения папки
